.idea
poetry.lock
notebooks
.DS_Store
__pycache__
test_report.json
dist
olliepy.egg-info
dask-worker-space
generateDocs.sh
generateSphinxDocs.sh
runTests.sh
.pytest_cache
out
tests/output/TestReport
tests/output/TestReport.zip
